* {
    border: none;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 11px;
    min-height: 8px;
}

window#waybar {
    background: #161616;
}

window#waybar.hidden {
    opacity: 0.2;
}

#disk,
#tray,
#custom-calendar,
#clock,
#pulseaudio,
#custom-swaync,
#network {
    margin: 4px 4px 6px 4px;
    padding: 0px 10px;
    border-radius: 4px;
    transition: none;
}

#disk {
    background: #3ddbd9;
    color: #161616;
    font-weight: 500;
}

#custom-calendar,
#clock {
    background: #82cfff;
    color: #161616;
    font-weight: 500;
}

#pulseaudio {
    background: #be95ff;
    color: #161616;
    font-weight: 500;
}

#custom-swaync {
    background: #ff7eb6;
    color: #161616;
    font-weight: 600;
}

#custom-swaync.notification {
    background: #ee5396;
    color: #ffffff;
}

#custom-swaync.dnd {
    background: #be95ff;
    color: #161616;
}

#network {
    background: #42be65;
    color: #161616;
    font-weight: 500;
}

#tray {
    background: #262626;
    padding: 0 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ee5396;
}

#workspaces {
    background: #262626;
    color: #dde1e6;
    border-radius: 4px;
    margin: 4px 3px;
    padding: 1px 0;
}

#workspaces button {
    color: #dde1e6;
    background: transparent;
    padding: 0;
    margin: 2px 4px;
    min-width: 18px;
    min-height: 18px;
    border-radius: 3px;
    transition:
        color 0.2s ease,
        background 0.2s ease,
        transform 0.2s ease;
}

#workspaces button:hover {
    background: #393939;
    color: #ffffff;
}

#workspaces button.active {
    color: #161616;
    background: #08bdba;
    font-weight: 600;
}

#workspaces button.urgent {
    background: #ee5396;
    color: #ffffff;
}
