* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Noto Sans;
  font-weight: bold;
  font-size: 14px;
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

window#waybar {
  background-color: #232136;
  padding: 0px;
}

tooltip {
  color: #e0def4;
}

tooltip label {
  color: #e0def4;
}

#clock,
#battery,
#network,
#tray,
#workspaces,
#pulseaudio {
  margin: 4px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #e0def4;
}

#tray menu {
  background-color: #232136;
  color: #e0def4;
  padding: 4px;
}

#tray menu menuitem {
  background-color: #2a273f;
  margin: 3px;
  color: rgb(220, 220, 220);
}
#tray menu menuitem:hover {
  background-color: #908caa;
  color: #232136;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  color: #e0def4;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
  text-shadow: 0px 0px 4px rgb(135, 135, 135);
}

#workspaces button.active {
  color: #e0def4;
  text-shadow: 0px 0px 6px #e0def4;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: #e0def4;
  text-shadow: 0px 0px 8px #e0def4;
}

#workspaces button.current_output {
  color: #e0def4;
}

#workspaces button.urgent {
  color: #e78a4e;
  text-shadow: 0px 0px 6px #e78a4e;
}
