#bar {
	background-color: black;
	font-weight: 700;
	font-family: 'JetBrains Mono', monospace;
}

/* Clocks */
.clock {
	background: transparent;
	box-shadow: none;
	padding: 0;
	border: none;
	text-shadow: none;
	color: whitesmoke;
}

#bar .clock {
	padding: 0;
	margin: 0;
	margin-right: 6px;
}

/* Workspaces */
.workspaces,
.workspaces .item,
.workspaces .item.visible,
.workspaces .item.urgent,
.workspaces .item.inactive,
.workspaces .item .icon,
.workspaces .item .text-icon,
.workspaces .item .image {
	background: transparent;
	border: none;
	box-shadow: none;
	text-shadow: none;
	padding: 0;
	margin: 0;
}

.workspaces .item.focused {
	color: darkslategray;
}

.workspaces .item {
	color: lightslategray;
}

.workspaces .item.item.inactive {
	color: ghostwhite;
}

.music {
	background: transparent;
	box-shadow: none;
	padding: 0;
	border: none;
	text-shadow: none;
	color: whitesmoke;
}

#bar .music {
	padding: 0;
	margin: 0;
}

/* Tray */
.tray {
	margin-right: 6px;
}

/* Focused */
.focused {
	margin-top: 6px;
}

/* Sys info */
.sysinfo {
	margin-right: 6px;
	color: whitesmoke;
}

/* Weather */
.script {
	color: whitesmoke;
	margin-left: 12px;
}
