* {
	font-family: 'JetBrains Mono', monospace;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.background {
	background-color: rgba(0, 0, 0, 0.2);
}

.volume,
.script,
.music,
.sysinfo .item,
.tray,
.clock,
.custom,
.workspaces {
	background: transparent;
	border: none;
	color: #e0def4;
	box-shadow: none;
	margin-top: 2px;
	margin-right: 3px;
	margin-bottom: 2px;
}

.power-menu #power-btn {
	background: transparent;
	border: none;
	color: #e0def4;
	box-shadow: none;
	padding-right: 4px;
	padding-left: 4px;

}

.power-menu #power-btn:active {
	color: #44415a;
	border: none;
	outline: none;
	box-shadow: none;
}

.workspaces button,
.workspaces .item {
	padding: 0 6px;
	margin: 0 3px;
	border: none;
	background: transparent;
	color: #6e6a86;
	transition: all 0.3s ease-in-out;
	opacity: 0.7;
}

.workspaces .item.focused {
	color: #ea9a97;
	background: transparent;
	opacity: 1;
}

.workspaces .item:active {
	border: none;
	outline: none;
	box-shadow: none;
}

.popup-volume,
.popup-clock,
.popup-music {
	background-color: rgba(26, 27, 38, 0.8);
	border: 2px solid #6e6a86;
	border-radius: 10px;
	color: #e0def4;
	padding: 8px 12px;
}

.volume {
	padding-right: 4px;

}
