* {
	font-family: 'JetBrains Mono', monospace;
	font-size: 14px;
	font-weight: 500;
}

.background {
	background-color: rgba(0, 0, 0, 0);
}

.volume,
.script,
.music,
.sysinfo .item,
.tray,
.clock,
.custom,
.workspaces {
	background: #232136;
	border-radius: 8px;
	margin: 5px 10px;
	padding: 4px 10px;
	box-shadow: none;
	color: #e0def4;
}

.power-menu #power-btn {
	color: white;
	background-color: transparent;
	border: none;
}


.music {
	padding-left: 0;
}

/* Workspaces items */
.workspaces button,
.workspaces .item {
	padding: 0 6px;
	margin: 0 2px;
	border: 0px;
	background: transparent;
	color: #6e6a86;
	transition: all 0.3s ease-in-out;
	opacity: 0.7;
}

.workspaces .item.focused {
	color: #ea9a97;
	background: transparent;
	opacity: 1;
}

/* Popup styling */
.popup-volume,
.popup-clock,
.popup-music {
	background-color: rgba(26, 27, 38, 0.8);
	border-radius: 10px;
	border: 2px solid #6e6a86;
	color: #e0def4;
	padding: 8px 12px;
}



.sysinfo .item {
	color: #9ccfd8;
}
